body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  margin: 20px;

  width: 7.84in;
  margin: auto;
  font-size: 11pt;
}

.container {
  margin: 0.2in 0;
}

// @media print {
// }

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

h1 {
  font-family: Garamond, serif;
  font-size: 42pt;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: bold;
  font-size: 13pt;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-size: 12pt;
  font-weight: bold;
  margin: 0;
}

p {
  margin-top: 0;
}

header {
  ul {
    list-style: none;
    font-family: Georga;
    font-size: 10pt;

    padding: 0;

    flex-direction: row;
    // width: 100%;
    // justify-content: space-between;

    margin: 0 auto;
    text-align: center;

    li {
      display: inline;
      // margin: 0 6px;
      a {
        font-style: italic;
      }
      &:after {
        content: "│";
      }
      &:last-child:after {
        content: "";
      }
    }
  }

  hr {
    display: block;
    height: 1px;
    background: transparent;
    width: 100%;
    border: none;
    border-top: solid 1px #aaa;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 10px;
}

#skills {
  ul {
    padding: 0;
    margin: 0;
    margin-bottom: 12pt;
  }
  li {
    display: inline;
    &:after {
      content: "•";
    }
    &:last-child:after {
      content: "";
    }
  }
}

#experience {
  h3 {
    display: inline;
  }

  .job {
    margin-bottom: 12pt;
  }

  .job-header {
    font-size: 12pt;
  }

  .job-dates {
    font-style: italic;
  }
}

#projects {
  h3 {
    display: inline;
  }
}

#col-1 {
  font-size: 12pt;
  display: grid;
}

#education {
  .school {
    margin-bottom: 12pt;
  }

  .graduation-date {
    font-style: italic;
  }
}
